<% if @current %>
    You are logged in as, <%= @current.name %>
    <% if @current.admin %>
        You have admin rights
    <% end %>
<% end %>


<div>
    <div style="float: left; width: 200px; height: 800px">
        <% if @current %>
            <h4>My Friends</h4>
            <% @current.friends.each do |friend| %>
                <div><%= friend.name %></div>
            <% end %>
        <% end %>

    </div>

    <div style="width: 100%">
    <h1><%= @user.name %></h1>
    <h4>User Games</h4>

    <% @user.libraries.each do |lib| %>
    <div id="user_games"><h4><%=link_to lib.game.title, game_path(lib.game)%></h4><%= image_tag lib.game.img %><br><%= link_to "Remove " + lib.game.title, library_path(lib), :method => :delete %></div>

    <% end %>

    <% if !@current.friends.include?(@user) %>
        <%= link_to "Friend User", add_friend_path(@user), :method => :post %>
      
    <% end %>
    | <%= link_to "Edit User", edit_user_path(@user) %> |
    <%= link_to "Quit Fog", user_path(@user), :method => :delete %> |
    </div>
</div>
