<% if @current %>
    You are logged in as, <%= @current.name %>
    <% if @current.admin %>
        You have admin rights
    <% end %>
<% end %>

<h1><%= @user.name %></h1>

<h4>User Games</h4>
<body>

<% @user.libraries.each do |lib| %>
 <div id="user_games"><h4><%=link_to lib.game.title, game_path(lib.game)%></h4><%= image_tag lib.game.img %><br><%= link_to "Remove " + lib.game.title, library_path(lib), :method => :delete %></div>

<% end %>


| <%= link_to "Edit User", edit_user_path(@user) %> |
<%= link_to "Quit Fog", user_path(@user), :method => :delete %> |
</body>
