
<% if @game.errors %>
    <% @game.errors.messages.each do |message| %>
   <span class="error">** This game already exists. **</span>
    <% end %>

<% end %>


<h2>Enter a New Game</h2>
<%= form_for @game do |f|%>
<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label "Image" %>
<%= f.text_field :img %>

<%= f.submit %>
<%end%>

