<div id="show">
<h2><%= @game.title %></h2>
    <%=image_tag @game.img %>
    
<p><%= @game.users.count %> user(s) have added this game.</p>

<% if @current && @current.admin %>
    <%= link_to "Edit Game", edit_game_path(@game) %> |
    <%= link_to "Delete Game", game_path(@game), :method => :delete %> |
<% end %>
<% if @current && !@game.users.include?(@current) %>
    <%= link_to "Buy Game", "/games/#{@game.id}/buy", :method => :post %>
    
<% end %>

</div>